.vscode/launch.json
.vscode/tasks.json
LoggerDemo/bin/*/
LoggerDemo/obj/*/
LoggerLibrary/bin/*/
LoggerLibrary/obj/*/
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.dll
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.log
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.pdb
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.dll
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.log
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.pdb
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.runtimeconfig.dev.json
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.runtimeconfig.json
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerDemo.txt
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerLibrary.dll
LoggerDemo/bin/Debug/netcoreapp3.1/LoggerLibrary.pdb
LoggerDemo/obj/LoggerDemo.csproj.nuget.dgspec.json
LoggerDemo/obj/LoggerDemo.csproj.nuget.g.props
LoggerDemo/obj/LoggerDemo.csproj.nuget.g.targets
LoggerDemo/obj/project.assets.json
LoggerDemo/obj/project.nuget.cache
LoggerDemo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.AssemblyInfo.cs
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.AssemblyInfoInputs.cache
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.assets.cache
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.csproj.CoreCompileInputs.cache
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.csproj.FileListAbsolute.txt
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.csprojAssemblyReference.cache
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.dll
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.genruntimeconfig.cache
LoggerDemo/obj/Debug/netcoreapp3.1/LoggerDemo.pdb
LoggerLibrary/bin/Debug/netstandard2.0/LoggerLibrary.deps.json
LoggerLibrary/bin/Debug/netstandard2.1/LoggerLibrary.deps.json
LoggerLibrary/bin/Debug/netstandard2.1/LoggerLibrary.dll
LoggerLibrary/bin/Debug/netstandard2.1/LoggerLibrary.pdb
LoggerLibrary/obj/LoggerLibrary.csproj.nuget.dgspec.json
LoggerLibrary/obj/LoggerLibrary.csproj.nuget.g.props
LoggerLibrary/obj/LoggerLibrary.csproj.nuget.g.targets
LoggerLibrary/obj/project.assets.json
LoggerLibrary/obj/project.nuget.cache
LoggerLibrary/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
LoggerLibrary/obj/Debug/netstandard2.0/LoggerLibrary.AssemblyInfo.cs
LoggerLibrary/obj/Debug/netstandard2.0/LoggerLibrary.AssemblyInfoInputs.cache
LoggerLibrary/obj/Debug/netstandard2.0/LoggerLibrary.csproj.CoreCompileInputs.cache
LoggerLibrary/obj/Debug/netstandard2.0/LoggerLibrary.csproj.FileListAbsolute.txt
LoggerLibrary/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.AssemblyInfo.cs
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.AssemblyInfoInputs.cache
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.assets.cache
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.csproj.CoreCompileInputs.cache
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.csproj.FileListAbsolute.txt
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.csprojAssemblyReference.cache
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.dll
LoggerLibrary/obj/Debug/netstandard2.1/LoggerLibrary.pdb
